#game_map{
    border: 1px solid black;
    clear: both;
    float: left;
}

#game_map.cell{
    cursor: pointer;
    float: left;
    border: 1px solid black;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 30px;
    text-align: center;
}

.clear{
    clear: both;
    line-height:0px
}

#game_map, playerX_cell{
    color: cornflowerblue;
}

#game_map.playerO_cell{
    color:blueviolet;
}

#game_map.win{
	background: #b0d8c2;
}
#player_mark, #player_name{
	padding: 0px 3px;
}
.end_game{
	display: none;
}
#winner_name{
	text-decoration: underline;
}
table{
	clear: both;
}
td{
	text-align: center;
}

#game_map .hover{
	background: #b3cbe3;
}